@charset "utf-8";

/* CUSTOMIZZAZIONE DEI BOX */

/* Sezione Uno */
nav {
  background-color: #000000;
  max-height: 90px;
}

.box2 > ul > a > li {
  display: inline-block;
  padding: 20px 15px;
  font-weight: 700;
}

ul > a:hover {
  color: #1ed760;
}

ul {
  text-align: right;
  margin-right: 0;
}

.change-color {
  color: #d9dadc;
}

main {
  background: url("../img/search-mobile.webp") no-repeat center;
  background-size: cover;
}

.box3 h1 {
  font-size: 64px;
  color: #fff;
  font-weight: 700;
  margin-top: 5%;
}

.box4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.5rem;
  margin-left: 16%;
  height: 3.5rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #868686;
}

.box4:hover {
  box-shadow: inset 0 0 0 1px #000000;
}

input {
  border: none;
}

:focus {
  outline: none;
}

.icon {
  position: relative;
  left: -10px;
  top: 7px;
  color: #575757;
}

/* Sezione Due */
h4 {
  color: #d9d9d9;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}

.box5 {
  margin: 2.5rem auto;
}

.box5 a {
  font-weight: 700;
  line-height: 1.6em;
  word-spacing: 0.1em;
}

.box5 a:hover {
  text-decoration: underline;
}

/* Sezione centrale: the list; */

.sec-1 {
  background-color: #eeeeee;
}

.box6 {
  margin: 3rem 0;
}

.box6 h2 {
  text-align: left;
  font-weight: 700;
  word-spacing: 0.1em;
  margin-left: 2.5rem;
}

.box6 a {
  color: #117a37;
  font-weight: 700;
}

.box6 ul {
  margin: 3rem 2.5rem auto;
  text-align: left;
}

.box6 ul li {
  word-spacing: 0.1em;
  line-height: 1.6em;
}

.box6 ul li:hover {
  color: #117a37;
  text-decoration: underline;
}

.box7 {
  margin: 5rem 0;
}
.box7 h1 {
  font-size: 55px;
  font-weight: 700;
}

.box7 p {
  margin: 3rem auto;
  font-weight: bold;
  word-spacing: 0.1em;
}

.box7 button {
  color: #000000;
  font-weight: bold;
  background-color: #21e065;
  padding: 15px 27px;
  border-radius: 30px;
  border-style: none;
  cursor: pointer;
}

button:hover {
  padding: 18px 29px;
  transition-duration: 0.5s;
}

button:active {
  background-color: #169c46;
}

/* Footer; */
footer {
  background-color: #000000;
  position: relative;
  bottom: 0;
  width: 100%;
}

.box8,
.box9,
.box10 {
  margin-top: 4.5rem;
}

.box9 ul {
  text-align: left;
  line-height: 2em;
  word-spacing: 0.1em;
}

.box9 ul li a:hover {
  color: #1ed760;
}

.box10 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box10 a.change-c span.insta,
span.tweet,
span.facebook {
  display: block;
  width: 27px;
  height: 27px;
}

.box10 a.change-c {
  background-color: #fff;
}

.insta {
  background: url("../img/insta.svg") no-repeat;
  padding: 10px;
}

.tweet {
  background: url("../img/tweet.svg") no-repeat;
  padding: 10px;
}

.facebook {
  background: url("../img/face.svg") no-repeat;
  padding: 10px;
}
