body {
    margin: auto;
}
.navbar{
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 0.01px;
    background-color: black;
    color: white;
    padding-top: 2em;
    padding-bottom: 1.3em;
}

#ultop {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.6em;
    word-spacing: 2.5em;
    margin-right: 460px;
    margin-bottom: 20px;
}

.iscrivitiaccedi {
    color: #d9d9d9;
    
}

h1{
    font-family: Helvetica, Arial, sans-serif;
}

li{
    display: inline;
}

a:hover{
color: #19e68c
}

a{
    color: white;
    text-decoration: none;
}

#laptop{
    margin-top: 100px;
    width: 136px;
    height: 80px;

}

#scarica{
    color: black;
    border-color: white;
    padding: 16px 28px;
    background-color: white;
    border-radius: 100px;
    justify-items: center;
    font-weight: 549;
    font-family: Arial, Helvetica, sans-serif;
    transition-property: all;
    transition:all ease-in-out;
    transition-duration: 0ms;
}

#scarica:hover{
    color: black;
    border-color: white;
    padding: 18px 28px;
    background-color: white;
    border-radius: 100px;
    justify-items: center;
    font-weight: 550;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

}

.dl-screen{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #19e68c;
    text-align: center;
}

.dl-text{
    padding-bottom: 50px;
}

.mobile{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.devices{
    background-color: #292929;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-top: 5em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    padding-bottom: 5em;
}

footer{
    background-color: black;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
    text-align: center;
    margin: 0;
}

.spotify_logo{
    margin-bottom: 0.8em;
    margin-left: 29.2em;
    display: flex;
    align-items: flex-start;
    width: 90px;
    height: 27px;
}

table{
    justify-content: center;
    text-align: center;
}

thead{
    color: #919496;
}

.social{
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 12px;
    border-color: grey;
}

.social:hover{
    color: #19e68c;
    background-color: #19e68c;
    border-color: #19e68c;
}